* {
	box-sizing: border-box;
}

html {
	font-family: system-ui, sans-serif;
	font-size: 24px;
	line-height: 1.4;
	background-color: #ffbe60;
}

body {  }

.container {
	/* border: 1px solid red; */
	max-width: 50ch;
	margin-inline: auto;
	margin-block: 2rem 4rem;

	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.container > * {
	/* border: 1px solid blue; */
}

.content > * {
	/* border: 1px solid green; */
}

header {
	height: 100px;
	flex-basis: 100%;
}

nav {
	flex: 1;
}

.content {
	flex: 3;
}

.content main {
	order: 1;
	flex-basis: 60%;

	border-top: 3px solid currentColor;
}

.content aside {
	order: 2;
	flex-basis: 40%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: currentColor;
}

nav a:hover,
nav .active a {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 4px;
}

h1, h2, h3 {
	margin-top: 0;
}

main {

}

aside {
	border-top: 0px solid currentColor;
	background-color: #ffb04d;
	padding: 0.5rem;
}

aside ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

aside ul a {
	color: currentColor;
}
